.main-display {
  height: 86vh;
  width: 100vw;
}

.full-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .75;
}

.quote-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 20px;
}

.quote, 
.author {
  color: black;
  margin: 0;
}

.quote {
  padding: 15%;
}