.main-display {
  height: 85vh;
  width: 100vw;
}

.full-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .75;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.quote-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 80%;
  border-radius: 20px;
  background: white;
  opacity: .75;
  margin-top: 25%;
}

.quote, 
.author {
  color: black;
  margin: 0;
}

.quote {
  padding: 10%;
  font-size: 1.15em;
}

.author {
  padding-bottom: 5%;
}

.lightbulb {
  height: 2em;
  width: auto;
}

.favorite-btn {
  background: transparent;
  border: none;
}

.favorite-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 4%;
  background: transparent;
}
/* <a target="_blank" href="https://icons8.com/icon/A0JtKOyp9fqT/lightbulb">Lightbulb</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */