.main-display {
  height: 88vh;
  width: 100vw;
}

.full-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 80%;
  border-radius: 20px;
  background: white;
  opacity: .75;
}

.quote, 
.author {
  color: black;
  margin: 0;
}

.quote {
  padding: 10%;
  font-size: 1.15em;
}

.author {
  padding-bottom: 5%;
}