.favorites-display {
  height: auto;
  width: 100vw;
}

.no-favorites {
  height: 86vh;
  width: 100vw;
}

.add-favs-heading {
  margin: 5%;
}

@media screen and (min-width: 750px) {
  .no-favorites {
    height: 80vh;
  }
}