.landing-page {
  height: 87vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../spring-flowers.jpg');
  background-size: cover;
  color:#9B59B6;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.previous-theme-btn {
  height: 3em;
  width: auto;
  background: white;
  color: #9B59B6;
  border: 1px solid #9B59B6;
  opacity: .75;
  border-radius: 20px;
}


.previous-theme-btn:hover {
  background: #9B59B6;
  color: white
}

footer {
  height: 4vh;
  width: 90vw;
  border-top: 1px solid #9B59B6;
  font-size: .5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0% 5%;
  color:#9B59B6
}
.credit {
  margin: 2%;
}

@media screen and (min-width: 650px) {
  .welcome-header {
    font-size: 1.75em;
    margin: 2% 0 1% 0;
  }
}
