/* #9B59B6 */

.brand {
  display: flex;
  padding: 2%;
  background: #b8dfea69;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px #9B59B6;
  height: 8vh;
  width: 96vw;
  background: ;
}

.brand-name {
  font-size: 1em;
  color: #9B59B6;
}

.logo {
  height: 2em;
  width: auto;
}